*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    }
.Total{

    height: 90vh;
    width: 100vw;
}

.BarraNav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 55px;
    width: 100%;
    background-color: black;
    color: white;
}
a{
    font-size: medium;
    color: white;
}
.Container{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;  
    flex-wrap: wrap;   
}
.Container img{
    height: 51.4%;
    width: 33.33%;
}

