@import url('https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap');
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
:root{
    --grisOscuro:rgb(180, 180, 180); 
    --granate: rgb(163, 4, 4);
    --negroGris:rgb(34, 33, 33);
    --mostaza: rgb(204, 137, 13);
}

body{
    height: 100%;
    width: 100%;
}
header{
    background-color: black;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border:dotted 7px white;
}

#imgHeader{
    height:65px;
    width: 65px;
}
.pestañas{
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
a{
    text-decoration: none;
    color: rgb(180, 180, 180);
    font-family: "Vast Shadow", serif;
    font-weight: 400;
    font-style: normal;
}
a:hover{
    color: rgb(163, 4, 4);
}
a:active{
    color: rgb(238, 175, 175);
}
.main{
    height: 492px;
    background-image: url("cine3.jpg");  
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    gap:40px;
}

h1{
    font-family: "Vast Shadow", serif;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
    color: white;
    border: dotted 7px white;
    text-align: center;
    padding: 30px;
}
h4{
    color: white;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;

}
footer{
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--granate);
    background-color: var(--negroGris);
}
.foot{
    color: var(--granate);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    margin-left: 25px;
    margin-right: 25px;
}
.foot:hover{
    color:var(--grisOscuro);
}

@media all and (max-width: 545px){

    h1{
        font-size: large;
    }
    a{
        font-size: small;
    }
}

@media all and (max-width: 423px){

    h1{
        font-size: medium;
    }

    .pestañas{
        height: 70px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    #imgHeader{
        height:0px;
        width: 0px;
    }
    h4{
    font-size: 0pt;
    }
    .foot{
        font-size: small;
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media all and (max-width: 311px){
    a{
        font-size: x-small;
    }
    h1{
        font-size: small;
    }
    .foot{
        font-size: x-small;
        margin-left: 5px;
        margin-right: 5px;
    }

}
